body {
    background-color: #f3f2f2;
    color: #000000;
    margin-top: 5rem;
    overflow-y: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000000;
  }
  
#register{
  color: rgb(0, 0, 0);
  background-color: rgb(68, 68, 68);
}

  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #000000;
  }
  
  a.article-title:hover {
    color: #000000;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: rgb(121, 0, 0);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  *{
    padding: 0;
    margin: 0;
    
  }
  
  
  body {
    font-family: montserrat;
  }
  
  /* nav {
    height: 80px;
    width: 100%;
    background: rgb(29,53,63);
  } */
  
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.6);
    position: absolute;
    top: 0;
    /* padding: 25px 35px; */
    font-family: "Poppins", sans-serif;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgb(0,0,0,0.15);
  }
  
  label.logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
  }
  
  nav ul {
    float: right;
    margin-right: 40px;
  }
  
  nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
  }
  
  nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
  }
  
  a.active,a:hover {
    border: 1px solid white;
    transition: .5s;
    text-decoration: none;
  }
  
  nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 1048px) {
    label.logo{
      font-size: 32px;
      padding-left: 60px;
    }
  
    nav ul {
      margin-right: 20px;
    }
  
    nav a {
      font-size: 17px;;
     }
  }
  
  @media (max-width: 909px) {
    nav #icon {
      display: block;
    }
  
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2f3640;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
  
    nav li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav a {
      font-size: 20px;
    }
  
    a.active,a:hover {
      border: none;
      color: #3498db;
      text-decoration: none;
    }
  
    nav ul.show {
      left: 0;
  
    }
  }
  
  .bg-main {
    /* background: url('/media/background_image.jpg') no-repeat center center fixed; */
    background-color: rgb(0,111,92);
    background-size: cover;
    height: 100vh;
    background-position: center center;
  } 
  
  section.blog-part {
    background-color: rgb(245, 255, 255);
    height: 100vh;
    background-size: cover;
  }
  
  section.footer-part {
    background-color: lightgray;
    height: 70vh;
    background-size: cover;
  } 
  
  .row {
    padding-top: 200px;
    padding-left: 10px;
  
  }
  
  .bg-main.title-image.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
  }