{% extends 'blog/layout.html' %} 
{% load crispy_forms_tags %} 
{% block title %}
    Login 
{% endblock title %} 
{% block body %}  

<div>

    <div class="form" style="position: absolute; top: 30%; left: 40%;">
      <form action="{% url 'users:users-login' %}" method="post">
        {% csrf_token %}
     
          <legend>Login to your bloghub account</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit" style="border-radius: 25px; width:120px; height:30px; border: none; background-color: rgb(0, 0, 0); color:white; ">Login</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Need an account
          <a href="{% url 'users:users-register' %}" class="ml-2">Register</a>
        </small><br>
        <small class="text-muted">
          Forgot Password?
          <a href="{% url 'password_reset' %}" class="ml-2">Click Here</a>
        </small>
      </div>
    </div>

</div>

{% endblock body %}