{% extends 'blog/layout.html' %} 
{% load crispy_forms_tags %} 
{% block title %}
    Login 
{% endblock title %} 
{% block body %} 


<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
<div class="box">
  <div class="square" style="--I: 0"></div>
  <div class="square" style="--I: 1"></div>
  <div class="square" style="--I: 2"></div>
  <div class="square" style="--I: 3"></div>
  <div class="square" style="--I: 4"></div>
  <div class="container">
    <div class="form">
      <form action="{% url 'users:users-login' %}" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb4">Login to your bloghub account</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Need an account
          <a href="{% url 'users:users-register' %}" class="ml-2">Register</a>
        </small>
      </div>
    </div>
  </div>
</div>

{% endblock body %}