{% extends 'blog/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register
{% endblock title %}
{% block body %}
    <h1>Register for BlogHub</h1>
    <div class="content-section" id="register">
        <form action="{% url 'users:users-register' %}" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">Register</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit">SignUp</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a href="{% url 'users:users-login' %}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
{% endblock body %}