{% extends 'blog/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register
{% endblock title %}
{% block body %}
 
<div id="container" style="position: absolute; top: 30%; left: 40%;">
    <div class="form-wrap">
        <h1>Sign Up for Bloghub</h1>
        <form action="{% url 'users:users-register' %}" method="post">
            {% csrf_token %}
            
                <legend class="border-bottom mb4">Register</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit">SignUp</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a href="{% url 'users:users-login' %}" class="ml-2">Sign In</a>
            </small>
        </div>
    </div>
</div>
{% endblock body %}